.prop-details{
    display: grid;
    grid-template: 1.6em 1.6em 1.6em / 1fr 1fr 1fr;
    grid-template: repeat(3, 1.6em) / repeat(3, 1fr);
    grid-gap: 16px;

}
#one {
    grid-row: 1/5;
    border: 2px solid black;
}

#two {
    grid-row: 1/5;
    border: 2px solid black;
}

#three {
    grid-row: 1/5;
    border: 2px solid black;
}

#four {
    grid-row: 1/5;
    border: 2px solid black;
}

#five {
    grid-row: 1/5;
    border: 2px solid black;
}

#six {
    grid-row: 1/5;
    border: 2px solid black;
}

#seven {
    grid-row: 1/5;
    border: 2px solid black;
}

#eight {
    grid-row: 1/5;
    border: 2px solid black;
}
#nine{
    grid-row: 1/5;
    border: 2px solid black;
}
#ten{
    grid-row: 1/5;
    border: 2px solid black;
}
#eleven{
    grid-row: 1/5;
    border: 2px solid black;
}

.proposaldetailtop{
    display: flex;
}

.proposaldetailcontainer{
    width: 1549px;
    margin: 30px auto;
    height: 100%;
}

.line{
    border-top: 2px solid #e1e0e0;
}