.userimg {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 1706px;
  height: 229px;
  background: transparent url("../../../images/private-party-venues.jpg") 0% 0%
    no-repeat padding-box;
  opacity: 0.85;
}

.proposalcontainer{
    display: grid;
    justify-content: center;
    place-items: center;
    width: 100%;

    grid-template-rows: 217px;
    grid-template-columns: repeat(5,245px);
    grid-gap: 40px;
    position: absolute;
    top: 387px;

}

.userproposal{
    width: 245px;
    height: 217px;
    text-align: left;
    letter-spacing: 0.72px;
    color: #081838;
    opacity: 1;
    border: 2px solid rgb(219, 210, 210);
    border-radius: 5px;
}